@inherits LayoutComponentBase

<nav class="app-nav">
    <span class="brand">家計簿</span>
    <NavLink href="/" Match="Microsoft.AspNetCore.Components.Routing.NavLinkMatch.All">一覧</NavLink>
    <NavLink href="/input">入力</NavLink>
</nav>

<div class="app-shell">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
